* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #B9B4C7;
    display: grid;
    /* grid-template-rows: 0.2fr 2fr 3fr;
    grid-template-columns: 2fr 5fr  ; */
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer";
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');


.border-debug {
    border: 1px solid red;
}

header{
    grid-area: header;
    display: inline;
}
nav {
    padding: 5px;
    position: sticky;
    top: 0;
    display: flex;
    background-color: #5C5470;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav ul li {
    list-style-type: none;
} 
nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #FAF0E6;
}
main {
    grid-area: main;
    /* grid-template-areas: "section aside"; */
    padding-top: 4vh;
    height: 96vh;
    /* margin: 0 10rem; */
    display: flex;
    gap: 1.5rem;
}
.main-content {
    /* grid-area: section; */
    /* flex: 5; */
    justify-content: center;
    margin: auto;
    align-self: center;
    text-align: center;
    color: #352F44;
}
.title {
    font-weight: 600;
}
.my-name{
    font-size: 3rem;
    text-align: center;
}
.main-content article p {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
}
.side-content{
    grid-area: aside;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 3;  */
    /* margin: auto 0; */
}
.profile-pic{
    border-radius: 20%;
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2);
    height: 400px;
    width: 400px;
}
#social-container{
    display: flex;
    justify-content: center;
    margin-top: 1.1rem;
    gap: 1rem;
}
#social-container a{
    color: #352F44;
    font-size: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
.btn-color-1, .btn-color-2{
    border: #352F44 0.1rem solid;   
}
footer {
    grid-area: footer;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #352F44;
    color: #FAF0E6;
}