*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form {
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 20px;
}
.label {
    margin-bottom: 10px;
    width: 20%;
}
label {
    font-size: 1rem;
}
.row {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.button input {
    padding: 20px;
    border-radius: 20px;
}
table {
    margin: 50px;
    display: flex;
    padding: 20px;
    border-radius: 20px;
    background-color: antiquewhite;
}
table .row{
    justify-content: start;
    padding: 10px;
}
.nama,.jumlah,.diskon,.total {
    margin-left: 10px;
}